footer {
  background-color: #363636;
  width: 100%;
  display: flex;
  color: #fff;
  font-size: 0.75rem;
  .inside {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    gap: 4rem;
    flex-wrap: wrap;
    margin: 0 auto;
    p a:hover {
      color: #0e78a5;
      text-decoration: underline;
    }
    img:hover {
      cursor: pointer;
      filter: blur(2px);
    }
    img:active {
      transform: scale(0.9);
    }
  }
}

a {
  text-decoration: none;
  color: #fff;
}
