.meal {
  background-color: rgba(121, 158, 158, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 1rem 0rem;
  img {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }

  h3 {
    margin: 0;
    margin-bottom: 1rem;
  }
}

.meal-data-list {
  width: 75%;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.meal-data {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

.nameAndQuantity {
  display: flex;
  gap: 0.5rem;
  input {
    height: 1rem;
    width: 2rem;
    border: none;
    outline: none;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.meals-list {
  padding: 0;
}
