* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: rgb(46, 46, 46);
}

section {
  background-color: rgba(121, 158, 158, 0.1);
  box-shadow: 5px 5px 10px rgb(49, 49, 49);
  padding: 1rem 0;
}

.page-content {
  max-width: 390px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(49, 49, 49);
  background: rgb(241, 246, 245);
  background: linear-gradient(
    124deg,
    rgba(241, 246, 245, 1) 0%,
    rgba(178, 253, 254, 1) 100%
  );
}

ul {
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}
